@charset "UTF-8";

html {
  line-height: 1.15;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

h1,h2,h3,h4,h5,h6{
  font-family:Tahoma;
  font-weight:bold;
  text-transform: uppercase;
}

.font-change{
  font-family:Tahoma;
}

.page-section {
  padding: 5rem 0;
}


header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../img/sjce.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
header.masthead h1 {
  font-size: 3rem;
}
@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
  }
  header.masthead p {
    font-size: 1.15rem;
  }
  header.masthead h1 {
    font-size: 5rem;
  }
}
@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 5rem;
  }
}

.btn-default {
  cursor: pointer;
  background-color: rgba(0,98,155,0.5);
  padding: 15px;
  font-size: 18px;
  border: 1px solid transparent;
  box-shadow: 0px 12px 20px 0px rgba(255, 126, 95, 0.15);
  border-radius: 100px;
  background-size: 200% auto;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.2rem;
}

.countdown-circles span {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.countdown-circles span:first-of-type {
    margin-left: 0;
}


#agenda .links-nav .active{
  background-color:#00629B !important;
}

.speakers img{
  width:100%;
}

.speakers .speaker-social-media a{
  text-decoration:none;
  color:#111;
}

#timer{
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.6) 0%, rgba(92, 77, 66, 0.6) 100%), url("../img/time.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#committee{
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../img/committee.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#speakers{
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../img/speakers.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#location{
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("../img/sjce2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
